@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

/* Variables */

:root{
    /* Colors */
    --grayish-blue: hsl(237, 18%, 59%);
    --soft-red: hsl(345, 95%, 68%);
    --white: hsl(0, 0%, 100%);
    --dark-desaturated-blue: hsl(236, 21%, 26%);
    --very-dark-blue: hsl(235, 16%, 14%);
    --very-dark-mostly-blue: hsl(234, 17%, 12%);

    /* Typography */
    --font-size: 14px;
}

body{
    background-color: var(--very-dark-mostly-blue);
    background-image: url(../assets/img/bg-stars.svg);
    font-family: 'Red Hat Text', sans-serif;
    font-size: var(--font-size);
}

/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main container */

.main-container{
    width: 344px;
    margin: 222px auto;
}

/* Countdown title */

.countdown__title{
    margin-bottom: 55px;
}

.countdown__title h1{
    color: var(--white);
    font-size: 18px;
    letter-spacing: 6px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 26px;
}

.countdown__date{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.countdown__date > div{
    width: 75px;
    height: 105px;
}

.countdown__date-number{
    height: 70px;
    background-color: var(--dark-desaturated-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 4px var(--very-dark-mostly-blue);
    margin-bottom: 10px;
}

.countdown__date-number p{
    font-size: 40px;
    color: var(--soft-red);
}

.countdown__date-text{
    font-size: 8px;
    color: var(--grayish-blue);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Social networks */

.social-networks{
    height: 170px;
    background-image: url(../assets/img/pattern-hills.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -41rem;
    padding-top: 95px;
}

.social-networks ul{
    display: flex;
    justify-content: center;
    column-gap: 32px;
}

.social-networks ul li{
    list-style: none;
}

.social-networks ul li a ion-icon{
    width: 28px;
    height: 28px;
    color: var(--grayish-blue);
}

.social-networks ul li a ion-icon:is(:hover, :focus){
    color: var(--soft-red);
}

@media (min-width: 600px){
    /* Main container */
    .main-container{
        width: 540px;
        margin: 235px auto;
    }

    /* Countdown title */
    .countdown__date{
        justify-content: center;
        column-gap: 2rem;
    }

    /* Social networks */

    .social-networks{
        background-position-x: -15rem;
    }
}

@media (min-width: 768px){
    /* Main container */
    .main-container{
        width: 700px;
    }

    /* Countdown title */
    .countdown__title h1{
        font-size: 24px;
    }
    
    .countdown__date > div{
        width: 120px;
        height: 130px;
    }

    .countdown__date-number{
        height: 100px;
    }

    .countdown__date-number p{
        font-size: 50px;
    }

    .countdown__date-text{
        font-size: 12px;
    }

    /* Social networks */
    .social-networks{
        background-position-x: -10rem;
    }
}

@media (min-width: 1024px){
    /* Main container */
    .main-container{
        width: 1000px;
    }

    /* Countdown title */
    .countdown__title h1{
        font-size: 28px;
    }
    
    .countdown__date > div{
        width: 150px;
        height: 186px; 
    }

    .countdown__date-number{
        height: 138px;
    } 

    .countdown__date-number p{
        font-size: 66px;
    }

    .countdown__date-text{
        font-size: 16px;
        letter-spacing: 4px;
    }

    /* Social networks */
    .social-networks{
        background-position-x: 0.5rem;
    }

    

}













